<% @hats.each do |hat| %>
  <div class="hat">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag hat.photo %>
        <div class="caption">
          <h3><%= hat.name %></h3>
          <p><%= hat.description %></p>
          <p><%= number_to_currency hat.price %></p>
          <%= link_to "Add to Cart", add_to_cart_path(hat_id: hat.id), method: :post, class: "btn btn-default btn-block" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
