<h1>Hats#index</h1>

<%= link_to "Log Out", sign_out_path, method: :delete %>

<% @hats.each do |hat| %>
  <div class="hat">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag hat.photo %>
        <div class="caption">
          <h3><%= hat.name %></h3>
          <p><%= hat.description %></p>
          <p><%= number_to_currency hat.price %></p>
          <p><a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
