<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :page_title %>CatHats!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="page-header">
        <h1><%= link_to "Cat Hats!", root_path %><small> Unrequited love is a terrible thing to waste</small></h1>
        <ul class="nav navbar-nav navbar-right">
          <% if @current_user %>
          <li>
            <h4><%= link_to "Log Out", sign_out_path, method: :delete %></h4>
          </li>
          <% else %>
          <li>
            <%= link_to "Sign-In", sign_in_path %>
          </li>
          <% end %>
        </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
